<div ng-if="results">
    <img src={{results.image}} width="500" />

    <p>Categories: {{results.boardgamecategory}}</p>
    <hr />
    <p>Alternate names: {{results.alternate}}</p>
    <hr />
    <p>{{results.description}}</p>
    <hr />

    <h1>Comments:</h1>
    <div class="comment" *ngFor="let comment of comments">
        <span>{{comment.username}} commented:</span>
        <p>{{comment.text}}</p>
    </div>

    <div>
        <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm)">
            <div class="form-group">
                <label>Username:
                </label>
                <input type="text" required [(ngModel)]="model.username" name="username" />
            </div>

            <div class="form-group">
                <label>Comment:
                </label>
                <textarea rows="4" cols="50" required [(ngModel)]="model.text" name="text"></textarea>
            </div>

            <button>Post Comment</button>
        </form>
    </div>

</div>